@import "tailwindcss";

body {
    background-color: black;
    color: white;
}

body::-webkit-scrollbar{
    display: none;
}

.moviescrollbar::-webkit-scrollbar{
    display: none;
}

.genreScroll::-webkit-scrollbar{
    display: none;
}